@model List<Product>
@using Microsoft.AspNetCore.Identity

<h2 class="text-center mb-5">List of products</h2>

<p>Logged in as: @User.Identity.Name</p>
<p>Is in role User? @User.IsInRole("User")</p>

<div class="row mb-5">
    <div class="col">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary" asp-controller="Products" asp-action="Create">New Product</a>
        }
    </div>
    <div class="col">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@product.Description</td>
                <td>@(product.Price)€</td>
                <td><img src="/products/@product.ImageFileName" width=100 /></td>
                <td>@product.CreatedAt.ToString("dd.MM.yyyy")</td>
                <td style="white-space:nowrap">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit"
                           asp-route-id="@product.Id">Edit</a>
                        <form asp-action="Delete" asp-route-id="@product.Id" method="post" style="display:inline;" onsubmit="return confirm('Are you sure?');">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    }

                    @if (User.IsInRole("User"))
                    {
                        <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline;">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
